<template>
  <section class="section-hero section-shaped my-0">
    <div class="shape shape-style-1 bg-gradient-default">
      <span class="span-150"></span>
      <span class="span-50"></span>
      <span class="span-50"></span>
      <span class="span-75"></span>
      <span class="span-100"></span>
      <span class="span-75"></span>
      <span class="span-50"></span>
      <span class="span-100"></span>
      <span class="span-50"></span>
      <span class="span-100"></span>
    </div>
    <div class="container shape-container d-flex align-items-center">
      <div class="col px-0">
        <div class="row justify-content-center align-items-center">
          <div class="col-lg-7 text-center ">
            <img
              src="img/brand/tree.png"
              style="width: 180px;"
              class="img-fluid"
            />
            <p class="lead text-white mt-4 mb-5">
              TreeFund is an Ethereum based DApp that can be used to collect,
              store, invest, and distribute coins for benefactors. You can think
              of it like an unstoppable on-chain trust fund.
            </p>

            <div class="btn-wrapper">
              <base-button block outline v-on:click="connect" type="info">
                {{ web3 ? `Disconnect : ${account}` : "Connect Wallet" }}
              </base-button>
              <br /><br />
              <base-button
                block
                outline
                v-if="web3"
                v-on:click="treeFundGetLeaves"
                type="success"
              >
                Make Contract Calls
              </base-button>
            </div>
          </div>
        </div>
        <div
          class="row align-items-center justify-content-around stars-and-coded"
        >
          <div class="col-sm-4">
            <span class="text-white alpha-7 ml-3">Star us on </span>
            <a
              href="https://gitlab.com/dentino/treefund"
              target="_blank"
              title="Support us on Gitlab"
            >
              <img
                src="img/brand/iconfinder_144_Gitlab_4519079.png"
                style="height: 32px; margin-left: 5px; margin-top: -3px"
              />
            </a>
          </div>
          <div class="col-sm-4 mt-4 mt-sm-0 text-right">
            <span class="text-white alpha-7">Coded by</span>
            <a
              href="https://wolfdefi.com"
              target="_blank"
              title="WolfDeFi - Exploring DeFi, one contract at a time"
            >
              <img
                src="img/brand/defi_wolf-512_pink_blue.png"
                class="ml-3"
                style="height: 30px;"
              />
            </a>
          </div>
        </div>
      </div>
    </div>
  </section>
</template>
<script>
import Web3 from "web3";
import Web3Modal from "web3modal";
import WalletConnectProvider from "@walletconnect/web3-provider";
import TreeFundContract2Artifact from "@/assets/contracts/TreeFundContract2.json";
// import TreeFundContract2Artifact from "@/assets/contracts/TreeFundContract3.json";

export default {
  data() {
    return {
      processing: false,
      swapping: false,
      web3: null,
      web3Modal: new Web3Modal({
        cacheProvider: true,
        providerOptions: {
          walletconnect: {
            package: WalletConnectProvider,
            options: {
              infuraId: "a6fbe259558b4c8baf936d949d3d310d"
            }
          }
        }
      }),
      provider: null
    };
  },
  mounted() {
    /* mainnet
	const localWeb3 = new Web3(
      'https://mainnet.infura.io/v3/a6fbe259558b4c8baf936d949d3d310d'
	);
	*/
    const localWeb3 = new Web3("http://localhost:8545");
    if (this.web3Modal.cachedProvider) this.connect();
  },
  components: {
    ///BaseNav,
    // CloseButton,
    // BaseDropdown,
  },
  methods: {
    connect() {
      if (this.web3) {
        if (this.provider.close) {
          this.provider.close();
        }
        if (this.web3Modal) {
          this.web3Modal.clearCachedProvider();
        }
        this.web3 = null;
        this.provider = null;
        this.account = null;
        this.hedges = [];
      } else {
        this.web3Modal.connect().then(provider => {
          this.provider = provider;
          const web3 = new Web3(provider);
          web3.eth.getAccounts().then(accounts => {
            this.web3 = web3;
            this.account = accounts[0];
            this.contracts = {
              TreeFund: new web3.eth.Contract(
                TreeFundContract2Artifact,
                "0x9C5Dd70D98e9B321217e8232235e25E64E78C595"
              )
            };
          });
        });
      }
    },
    treeFundGetLeaves() {
      // Optional. makes for more clear calls
      const { TreeFund } = this.contracts;

      TreeFund.methods.getAllLeaves().call(1, (err, result) => {
        console.log("getAllLeaves:", err, result);
      });

      this.contracts.TreeFund.methods
        .getLeafIndexLength()
        .call()
        .then(function(result) {
          console.log("getLeafIndexLength:", result);
        });

      TreeFund.methods.getLeafIndexLength().call((err, result) => {
        console.log("GLI2:", err, result);
      });
    }
  }
};
</script>
<style></style>
