<template>
  <header class="header-global">
    <base-nav class="navbar-main" transparent type="" effect="light" expand>
      <router-link slot="brand" class="navbar-brand mr-lg-5" to="/">
        <!--<img src="img/brand/white.png" alt="logo">-->
        <a href="/" class="logo">TreeFund</a>
      </router-link>

      <div class="row" slot="content-header" slot-scope="{ closeMenu }">
        <div class="col-6 collapse-brand">
          <a href="https://wolfdefi.com">
            <!-- <img src="img/brand/blue.png" />-->
            <a href="/" class="heading-title text-success">TreeFund</a>
          </a>
        </div>
        <div class="col-6 collapse-close">
          <close-button @click="closeMenu"></close-button>
        </div>
      </div>

      <ul class="navbar-nav navbar-nav-hover align-items-lg-center">
        <base-dropdown class="nav-item" menu-classes="dropdown-menu-xl">
          <a
            slot="title"
            href="#"
            class="nav-link"
            data-toggle="dropdown"
            role="button"
          >
            <i class="ni ni-ui-04 d-lg-none"></i>
            <span class="nav-link-inner--text">Getting Started</span>
          </a>
          <div class="dropdown-menu-inner">
            <a href="#getting-started" class="media d-flex align-items-center">
              <div
                class="icon icon-shape bg-gradient-primary rounded-circle text-white"
              >
                <i class="ni ni-spaceship"></i>
              </div>
              <div class="media-body ml-3">
                <h6 class="heading text-primary mb-md-1">Configure & Deploy</h6>
                <p class="description d-none d-md-inline-block mb-0">
                  No need to write any code. Configure the contract to your
                  liking on our site & deploy with just a few clicks!
                </p>
              </div>
            </a>
            <a href="#quick-deploy" class="media d-flex align-items-center">
              <div
                class="icon icon-shape bg-gradient-warning rounded-circle text-white"
              >
                <i class="ni ni-air-baloon"></i>
              </div>
              <div class="media-body ml-3">
                <h5 class="heading text-warning mb-md-1">
                  Code, Compile, & Deploy
                </h5>
                <p class="description d-none d-md-inline-block mb-0">
                  Would you prefer to configure & deploy a TreeFund contract on
                  your own? No problem! Get started with our self deploy guide
                  here.
                </p>
              </div>
            </a>
          </div>
        </base-dropdown>
        <base-dropdown class="nav-item" menu-classes="dropdown-menu-xl">
          <a
            slot="title"
            href="#"
            class="nav-link"
            data-toggle="dropdown"
            role="button"
          >
            <i class="ni ni-ui-04 d-lg-none"></i>
            <span class="nav-link-inner--text">Use Cases</span>
          </a>
          <div class="dropdown-menu-inner">
            <a
              href="#college-fund-use-case"
              class="media d-flex align-items-center"
            >
              <div
                class="icon icon-shape bg-gradient-primary rounded-circle text-white"
              >
                <i class="ni ni-atom"></i>
              </div>
              <div class="media-body ml-3">
                <h6 class="heading text-primary mb-md-1">College Fund</h6>
                <p class="description d-none d-md-inline-block mb-0">
                  Create collective college fund for someone you care about
                </p>
              </div>
            </a>
            <a
              href="adventure-fund-use-case"
              class="media d-flex align-items-center"
            >
              <div
                class="icon icon-shape bg-gradient-warning rounded-circle text-white"
              >
                <i class="ni ni-istanbul"></i>
              </div>
              <div class="media-body ml-3">
                <h5 class="heading text-warning mb-md-1">Adventure Fund</h5>
                <p class="description d-none d-md-inline-block mb-0">
                  Maybe you want to collect, invest, & allocate funds for your
                  kids to explore the world?
                </p>
              </div>
            </a>
          </div>
        </base-dropdown>
      </ul>
      <ul class="navbar-nav align-items-lg-center ml-lg-auto">
        <li class="nav-item">
          <a
            class="nav-link nav-link-icon"
            href="https://twitter.com/wolfdefi"
            target="_blank"
            rel="noopener"
            data-toggle="tooltip"
            title="Follow us on Twitter"
          >
            <i class="fa fa-twitter-square"></i>
            <span class="nav-link-inner--text d-lg-none">Twitter</span>
          </a>
        </li>
        <li class="nav-item">
          <a
            class="nav-link nav-link-icon"
            href="https://gitlab.com/dentino/treefund"
            target="_blank"
            rel="noopener"
            data-toggle="tooltip"
            title="Star us on Gitlab"
          >
            <i class="fa fa-gitlab"></i>
            <span class="nav-link-inner--text d-lg-none">Gitlab</span>
          </a>
        </li>
      </ul>
    </base-nav>
  </header>
</template>
<script>
import BaseNav from "@/components/BaseNav";
import BaseDropdown from "@/components/BaseDropdown";
import CloseButton from "@/components/CloseButton";

export default {
  components: {
    BaseNav,
    CloseButton,
    BaseDropdown
  }
};
</script>
<style></style>
